<% if user_signed_in? %>
  <div id="friends">
    <table class ="table table-striped table-hover">
    <thead class = thead-dark>
      <th scope="col">Name </th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Reddit</th>
      <th scope="col"></th>
    </thead>
    <tbody>
    <% @friends.each do |friend| %>
    <% if friend.user == current_user%>
      <tr>
        <td scope="row">
        <%=link_to friend.first_name + ' ' + friend.last_name ,friend%>
        <td><%= friend.email%></td>
        <td><%= friend.phone%></td>
        <td><%= friend.reddit%></td>
        <td><%=link_to "Delete",friend, data: { "turbo-method": :delete }, class:"btn btn-outline-danger btn-sm"%></td>
      </tr>
    <%end%>
    <% end %>
    </tbody>
    </table>
  </div>

  <%= link_to "New friend", new_friend_path, class:"btn btn-secondary" %>
<%else%>
  <h1>This is my Rails page</h1>
Hello World!
<%end%>