<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-toggle="tab" data-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
        <%= link_to 'Friend App', root_path, class: "navbar-brand"%>
    </button>
    
    <button class="nav-link" id="nav-contact-tab" data-toggle="tab" data-target="#nav-contact" type="button" role="tab" 
    aria-controls="nav-contact" aria-selected="false"> 
      <%= link_to 'About Us', home_about_path, class:"nav-link"%> 
    </button>
   
    <% if user_signed_in? %>
    <button class="nav-link" id="nav-profile-tab" data-toggle="tab" data-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
    <button class="nav-link" id="nav-contact-tab" data-toggle="tab" data-target="#nav-contact" type="button" role="tab" 
    aria-controls="nav-contact" aria-selected="false"> 
      <%= link_to 'New Friend', new_friend_path, class:"nav-link"%> 
    </button>
      <button class="nav-link" id="nav-contact-tab" data-toggle="tab" data-target="#nav-contact" type="button" role="tab" 
      aria-controls="nav-contact" aria-selected="false"> 
        <%= link_to 'Sign Out', destroy_user_session_path,:method => :delete, class:"nav-link"%> 
      </button>
      <button class="nav-link" id="nav-contact-tab" data-toggle="tab" data-target="#nav-contact" type="button" role="tab" 
      aria-controls="nav-contact" aria-selected="false"> 
        <%= link_to 'Edit Profile', edit_user_registration_path, class:"nav-link"%> 
      </button>
    <%else%>
      <button class="nav-link" id="nav-contact-tab" data-toggle="tab" data-target="#nav-contact" type="button" role="tab" 
      aria-controls="nav-contact" aria-selected="false"> 
        <%= link_to 'Sign Up', new_user_registration_path, class:"nav-link"%> 
      </button>
      <button class="nav-link" id="nav-contact-tab" data-toggle="tab" data-target="#nav-contact" type="button" role="tab" 
      aria-controls="nav-contact" aria-selected="false"> 
        <%= link_to 'Sign In', new_user_session_path, class:"nav-link"%> 
      </button>
    <%end%>
  </div>
</nav>
<br>